body
{
    background-color: #e1e1e1;
}

.nav-wrapper
{
    background-color: #3661A2;
}

ul li a
{
    font-size: 20px;
    padding-left: 0px;
}

i.left
{
    margin-left: 5px;
    margin-right: 5px;
}


#logo
{
    height: 60px;
    width: 180px;
}

#homepageBackground
{
    width: 100%;
    height: 300px;
}

#homeCard
{
    position: absolute;
    top: 70px;
    left: 515px;
    width: 500px;
}

#nameCard
{
    position: absolute;
    top: 100px;
    left: 515px;
    width: 500px;
    
}

.white-text
{
    width: 490px;  
}

.input-field
{
    display: inline-block;
}

#form
{
    position: absolute;
    left: 23px;
    top: 290px;
    width: 455px;
}


#share_button {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 768px){


}
