body
{
    background-color: #e1e1e1;
}

.nav-wrapper
{
    background-color: #3661A2;
}

ul li a
{
    font-size: 15px;
    padding-left: 5px;
}

.left
{
    margin-left: 5px;
    margin-right: 5px;
}


#logo
{
    height: 60px;
    width: 180px;
}
#footprint{
    padding-right: 5px;
    align-self: center;
}

#card{
    background-image: url(../images/digitalfootprint_homepage_background.jpg);
    background-size: 100%;

}
#card-name{
    background-image: url(../images/digital_footprint2.jpeg);
    background-size: 100%;

}#card-address{
    background-image: url(../images/digital_footprint_address.jpg);
    background-size: 100%;

}#card-phone{
    background-image: url(../images/digital_footprint_phone.jpg);
    background-size: 100%;

}#card-email{
    background-image: url(../images/digital_footprint_email.jpeg);
    height: 300px;
}

#homeCard
{ 
    position: relative;
    left: 60%;
    width: 70%;
   
}

#nameCard
{
    position: absolute;
    top: 100px;
    left: 515px;
    width: 500px;
    
}

.white-text
{
    width: 90%;  
}

.input-field
{
    display: inline-block;
}

#form
{
    position: absolute;
    left: 23px;
    top: 290px;
    width: 455px;
}


#share_button {
    width: 20px;
    height: 20px;
}
#trigger{
    float: right;
}
@media screen and (max-width: 768px){
#homeCard{
    position: absolute;
}
#logo{
    height: 40px;
    width: 160px;
}
}


@media screen and (max-width: 1260px){
    ul li a{
        font-size: 10px;
        width: 110px;
    }
    #footprint{
        font-size: 14px;
    }
    
}
@media screen and (max-width: 1200px){
    ul li a{
       scale: 0.15;
    }
}

