/* backbround color for webpage */
body
{
    background-color: #e1e1e1;
}

/* background color for navbar */
.nav-wrapper
{
    background-color: #3661A2;
}

/* size and spacing for navbar list elements */

ul li a
{
    font-size: 20px;
    padding-left: 0px;
}

/* space between the webpage nav links */
.left
{
    margin-left: 5px;
    margin-right: 5px;
}


/* logo image */
#logo
{
    height: 60px;
    width: 180px;
}

/* background image for homepage */
#homepageBackground
{
    width: 100%;
    height: 300px;
}

/* card on homepage image */
#homeCard
{
    position: absolute;
    top: 70px;
    left: 515px;
    width: 500px;
}

/* card on name page */
#nameCard
{
    position: absolute;
    top: 100px;
    left: 515px;
    width: 500px;
    
}

/* text size on cards */
.white-text
{
    width: 490px;  
}


/* cards background color */
.blue-grey
{
    background-color: rgba(96, 125, 139, 1) !important;
} 

/* cards opacity */
#Card
{
    background-color: rgba(96, 125, 139, 0.8) !important;
}

/* label color */
.input-field label 
{
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label.active 
{
    color: rgb(255, 255, 255);
}

/* label underline focus color */
.input-field input[type=text]:focus
{
    color: white;
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

/* icon prefix focus color */
.input-field .prefix.active 
{
    color: rgb(255, 255, 255);
}

/* label focus color */
.input-field input[type=email]:focus + label.active 
{
    color: rgb(255, 255, 255);
}

/* label underline focus color */
.input-field input[type=email]:focus
{
    color: white;
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

/* background for the form to input your name */
#name_form
{
    background-color: rgba(96, 125, 139, 1);
}

/* agustment for the "Your Name" title */
h4
{
    position: relative;
    left: 20px;
}

.container
{
    background-color: rgba(96, 125, 139, 1);
}

@media screen and (max-width: 1280px){
    ul li a{
        font-size: 10px;
    }
}
